/* START David */

html {
    scroll-behavior: smooth;
    background-color: rgb(52,65,52);
}

body {
}

h2 {
    font-family: 'Butterfly Kids', cursive;
    font-size: 3em;
    margin-top: 2%;
    margin-bottom: 0px;
}

section {
    display: flex;
    flex-flow: column nowrap; 
    justify-content: center;
    align-items: center;
    margin: 5% 0% 5% 0%;
    background-color: olivedrab;
    border-radius: 10%;
}

article {
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: space-between;
    align-items: center;
}

article div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

div p {
    margin: 2% 5% 5% 5%;
}

div img {
    margin: 0% 0% 13% 0%;
}

form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 2% 5% 5% 5%;
}

form * {
    padding: 3%;
}

form button {
    margin-top: 5%;
}

/* END David */

/* START Kévin */

/* END Kévin */

/* START Estevao */

/* END Estevao */

/* /!\ COMMENCER PAR LA VERSION MOBILE */