/* START David */

html {
    scroll-behavior: smooth;
    background-color: rgb(12,15,12);
    color: white;
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
}

h2 {
    font-family: 'Butterfly Kids', cursive;
    font-size: 3em;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

section {
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

section article {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}

.div_img {
    padding-bottom: 5%;
}

.parallax {
    background-image: url('https://c.pxhere.com/photos/14/f8/photo-76183.jpg!d');
    height: 50%; 
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

/* END David */

/* START Kévin */

/* END Kévin */

/* START Estevao */

/* END Estevao */

/* /!\ COMMENCER PAR LA VERSION MOBILE */