/* START David */

/* GLOBAL CSS START HERE ----------------------------------------------------------------------- */

    html {
        scroll-behavior:    smooth;
        background-color:   rgb(12,15,12);
        color:              white;
    }

    body {
        margin:             0px;
    }

/* GLOBAL CSS END HERE ------------------------------------------------------------------------- */

/* PARALLAX RELATED CSS START HERE ------------------------------------------------------------- */

    .parallax {
        background-image:      url('https://c.pxhere.com/photos/14/f8/photo-76183.jpg!d');
        height:                25%; 
        width:                 100%;
        background-attachment: fixed;
        background-position:   center;
        background-repeat:     no-repeat;
        background-size:       cover;
        display:               flex;
        align-items:           center;
        justify-content:       center;
    }

    .bistro_regent {
        background-image:      url('images/bistro_regent.jpg');
    }

    .steak_frites {
        background-image:      url('images/steak_frites.jpg');
    }

    .bistro_bastide {
        background-image:      url('images/bistro_bastide.jpg');
    }

/* PARALLAX RELATED CSS END HERE --------------------------------------------------------------- */

/* TITLE RELATED CSS START HERE ---------------------------------------------------------------- */

    h2 {
        font-family: 'Butterfly Kids', cursive;
        font-size:   3em;
        text-align:  center;
        text-shadow: -1px -1px 0 #000, 
                     1px -1px 0 #000, 
                     -1px 1px 0 #000, 
                     1px 1px 0 #000;
    }

    h3 {
        text-align:  center;
        padding:     0% 2% 0% 2%;
        font-family: 'Butterfly Kids', cursive;
        font-size: 2em;
    }

/* TITLE RELATED CSS END HERE ------------------------------------------------------------------ */

/* SECTION AND ARTICLE RELATED CSS START HERE -------------------------------------------------- */

    section {
        padding-top:    1%;
        padding-bottom: 1%;
    }

    section article {
        display:         flex;
        flex-direction:  column-reverse;
        align-items:     center;
        justify-content: space-between;
    }

    article p {
        text-align:      center;
        padding-left:    5%;
        padding-right:   5%;
        font-family: 'Patrick Hand', cursive;
        font-size: 1.3em;
    }

    /* IMAGE RELATED CSS START HERE */

    .div_img img {
        width:  10em;
        height: 10em;
        border-style: solid;
        border-width: 1px;
    }

    /* IMAGE RELATED CSS END HERE */

/* SECTION AND ARTICLE RELATED CSS END HERE ---------------------------------------------------- */

/* FORM RELATED CSS START HERE ----------------------------------------------------------------- */

    form {
        display:        flex;
        flex-direction: column;
        align-items:    stretch;        /* padding:        3% 10% 3% 10%; */
    }

    form * {
        margin:         1%;
    }

    form textarea {
        padding-bottom: 15%;
    }

    form button {
        margin:         3% 0% 3% 50%;
    }

/* FORM RELATED CSS END HERE ------------------------------------------------------------------- */

/* MAP SECTION RELATED CSS START HERE ---------------------------------------------------------- */

    .div_iframe iframe {
        display: none;
    }

    .div_iframe a {
    }

/* MAP SECTION RELATED CSS END HERE ------------------------------- */

/* MEDIA QUERIES START HERE -------------------------------------------------------------------- */

    @media only screen and (min-width: 961px) {

        /* SECTION AND ARTICLE RELATED CSS START HERE --------------- */

            section article {
                display: flex;
                justify-content: flex-start;
            }

            .article_even {
                flex-direction: row;
            }

            .article_odd {
                flex-direction: row-reverse;
            }

            section article div {
                display: flex;
                justify-content: center;
                margin: 0% 3% 0% 3%;
            }

            .div_txt {
                flex-flow: column nowrap;
            }

        /* SECTION AND ARTICLE RELATED CSS END HERE ----------------- */

        /* IMAGE RELATED CSS START HERE */

            .div_img img {
                border-radius: 50%;
                border-width: 3px;
                width:  20em;
                height: 20em;
                padding-bottom: 0%;
            }

    /* IMAGE RELATED CSS END HERE */

        /* MAP SECTION CSS START HERE ------------------------------- */

            .div_iframe iframe {
            display: inline;
            border-style: solid;
            border-width: 1px;
            border-color: red;
            }

            .div_iframe a {
            display: none;
            }

        /* MAP SECTION CSS END HERE --------------------------------- */

        /* FORM RELATED CSS START HERE ------------------------------ */

            form {
                padding: 0;
                margin: 0% 30% 0% 30%;
            }

            form * {
                margin: 5px 0 5px 0;
            }

            label {
                margin-right: 10px;
            }

        /* FORM RELATED CSS END HERE -------------------------------- */

    }

/* MEDIA QUERIES END HERE ---------------------------------------------------------------------- */

/* END David */

/* START Kévin */

/* Home section code  */
.section_home {
    height: 100vh;
    background-image: url(https://www.au-cheval-noir.restaurant/wp-content/uploads/2018/12/Restaurant-Au-Cheval-Noir-Herrlisheim_Photos-17.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
}

.toggle-nav{
    background-color:black;
    display: none;
  }


nav{
    display: flex;
    justify-content: flex-start;
    background-color: black;
    font-family: 'Butterfly Kids', cursive;
    height: 85px;
}

ul{
    display: flex;
    justify-content: flex-end;
    width: 70%;
    height: 2%;
}

a:link{
    text-decoration: none;
}

li{
    list-style-type: none;
    width: 20%;
    text-align: center;
    font-size: 2vw;
}

a{
    color: white;
    transition: transform .2s;
}

li div{
    transition: transform .2s;
}

li div:hover{
    transform:scale(1.10) translate(0px, 5px);
    translate: 100px;
}

h1{
    width: 20%;
    font-size: 4vw;
    padding-left: 1%;
    margin-top: 0;
}

.title{
    position: absolute;
    top: 0%;
    left: 10%;
    text-align: left;
    font-size: 1vw;
    font-family: 'Butterfly Kids', cursive;
    font-weight: bold;
    color: white;
    padding-left: 1%;
}

.section_home h2, .subtitle{
    margin: 1%;
    height: 10%;
    text-align: left;
    font-family: 'Butterfly Kids', cursive;
    font-weight: bolder;
}
.section_home p{
    font-size: 2.5em;
    margin-top: 40px;
}

.section_home h2{
    font-size: 5em;
}

@media screen and (max-width: 900px){

    h1{
        font-size: 1.7em;
    }
    .menu{
        display: flex;
        justify-content: space-between;
    }

    .section1 img{
        width: 100%;
    }

    .title{
        font-size: 1.2em;
        left: 5%;
    }

	.menu ul.active {
		display:none;
    }
    
    .titre{
        width: 100%;
        font-size: 1.4em;
    }

	.menu ul {
		width:100%;
		position:absolute;
		top:120%;
		left:0px;
		padding:10px 18px;
		box-shadow:0px 1px 1px rgba(0,0,0,0.15);
		border-radius:3px;
		background:#303030;
    }
    .menu li {
		margin:5px 0px 5px 0px;
		float:none;
		display:block;
	}

	.menu a {
		display:block;
	}

	.toggle-nav {
        padding:10px 10px 0 0;
        width: 5%;
        height: 5%;
		display:inline-block;
		box-shadow:0px 1px 1px rgba(0,0,0,0.15);
		border-radius:3px;
		background:black;
		text-shadow:0px 1px 0px rgba(0,0,0,0.5);
		color:white;
		font-size:20px;
		transition:color linear 0.15s;
	}

	.toggle-nav:hover, .toggle-nav.active {
		text-decoration:none;
		color:#66a992;
	}


}


/* END Kévin */

/* START Estevao */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(56, 47, 47);
    height: 300px;
    font-size: 17px;
}
.footer a:hover {
    text-decoration: underline overline white;
}
.footer a, footer p {
    text-decoration: none;
    color: rgb(177, 177, 177);
}
.twitter-icon img{
    height: 50px;
    width: 50px;
}
.facebook-icon img{
    height: 50px;
    width: 50px;
}

@media screen and (min-width:961px) {
.footer {
    font-size: 20px;
    height: 150px;
    flex-wrap: wrap;
    padding: 30px;
}
.strong-text {
    font-weight: bold;
}
.emphasis-text {
    font-style: italic;
}
.twitter-icon img {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.twitter-icon:hover img {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}
.facebook-icon img {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.facebook-icon:hover img {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}
}

/* END Estevao */

/* /!\ COMMENCER PAR LA VERSION MOBILE */