/* START David */

/* GLOBAL CSS START HERE ----------------------------------------------------------------------- */

    html {
        scroll-behavior:    smooth;
        background-color:   rgb(66, 25, 25);
        color:              white;
    }

    body {
        margin:             0px;
        overflow-X:         hidden;
    }

/* GLOBAL CSS END HERE ------------------------------------------------------------------------- */

/* PARALLAX RELATED CSS START HERE ------------------------------------------------------------- */

    .parallax {
        background-image:      url('https://c.pxhere.com/photos/14/f8/photo-76183.jpg!d');
        height:                25%; 
        width:                 100%;
        background-attachment: fixed;
        background-position:   center;
        background-repeat:     no-repeat;
        background-size:       cover;
        display:               flex;
        align-items:           center;
        justify-content:       center;
    }

    .bistro_regent {
        background-image:      url('images/bistro_regent.jpg');
    }

    .steak_frites {
        background-image:      url('images/steak_frites.jpg');
    }

    .bistro_bastide {
        background-image:      url('images/bistro_bastide.jpg');
    }

    .contact_us {
        background-image:      url('images/telephone.jpg');   
    }

/* PARALLAX RELATED CSS END HERE --------------------------------------------------------------- */

/* TITLE RELATED CSS START HERE ---------------------------------------------------------------- */

    h2 {
        font-family: 'Butterfly Kids', cursive;
        font-size:   3em;
        text-align:  center;
        text-shadow: -1px -1px 0 #000, 
                     1px -1px 0 #000, 
                     -1px 1px 0 #000, 
                     1px 1px 0 #000;
    }

    h3 {
        text-align:  center;
        padding:     0% 2% 0% 2%;
        font-family: 'Butterfly Kids', cursive;
        font-size:   2em;
    }

/* TITLE RELATED CSS END HERE ------------------------------------------------------------------ */

/* SECTION AND ARTICLE RELATED CSS START HERE -------------------------------------------------- */

    section {
        padding-top:     1%;
        padding-bottom:  1%;
    }

    section article {
        display:         flex;
        flex-direction:  column-reverse;
        align-items:     center;
        justify-content: space-between;
    }

    .article_intro {
        flex-direction:  column;
    }

    article p {
        text-align:      center;
        padding-left:    5%;
        padding-right:   5%;
        font-family:     'Patrick Hand', cursive;
        font-size:       1.3em;
    }
    
/* SECTION AND ARTICLE RELATED CSS END HERE ---------------------------------------------------- */

/* IMAGE RELATED CSS START HERE ---------------------------------------------------------------- */

    .div_img img {
        width:         10em;
        height:        10em;
        border-style:  solid;
        border-width:  1px;
        margin-bottom: 10%;
    }

/* IMAGE RELATED CSS END HERE ------------------------------------------------------------------ */


/* FORM RELATED CSS START HERE ----------------------------------------------------------------- */

    form {
        display:             flex;
        flex-direction:      column;
        align-items:         stretch;        
        margin:              3% 10% 3% 10%;
    }

    form * {
        margin:              1%;
        font-family:         'Patrick Hand', cursive;
    }

    form textarea {
        padding-bottom:      15%;
    }

    form button {
        font-family:         'Butterfly Kids', cursive;
        color:             black;
        font-weight:         bold;
        font-size:           1.8em;
        transition-duration: 0.8s;
    }

    form button:hover {
        background-color:  white;
    }

/* FORM RELATED CSS END HERE ------------------------------------------------------------------- */

/* MAP SECTION RELATED CSS START HERE ---------------------------------------------------------- */

    .div_iframe {
        padding-bottom:       3%;
    }

    .div_iframe iframe {
        display:              none;
    }

    .div_iframe a {
        color:              white;
        text-decoration-line: none;
        text-shadow:          -1px -1px 0 #000, 
                              1px -1px 0 #000, 
                              -1px 1px 0 #000, 
                              1px 1px 0 #000;
    }

/* MAP SECTION RELATED CSS END HERE ------------------------------- */

/* MEDIA QUERIES START HERE -------------------------------------------------------------------- */

    @media only screen and (min-width: 961px) {

        /* SECTION AND ARTICLE RELATED CSS START HERE --------------- */

            section article {
                display:         flex;
                justify-content: flex-start;
            }

            .article_intro {
                flex-direction:  column;
            }

            .article_even {
                flex-direction:  row;
            }

            .article_odd {
                flex-direction:  row-reverse;
            }

            section article div {
                display:         flex;
                justify-content: center;
                margin:          0% 3% 0% 3%;
            }

            .div_txt {
                flex-flow:       column nowrap;
            }

        /* SECTION AND ARTICLE RELATED CSS END HERE ----------------- */

        /* TITLE RELATED CSS START HERE */

            h3 {
                text-align:  center;
                margin:      0%;
                font-family: 'Butterfly Kids', cursive;
                font-size:   2em;
            }

        /* TITLE RELATED CSS END HERE */

        /* IMAGE RELATED CSS START HERE */

            .div_img img {
                border-radius:  50%;
                border-width:   3px;
                width:          20em;
                height:         20em;
                padding-bottom: 0%;
                margin-bottom:  0%;
            }

    /* IMAGE RELATED CSS END HERE */

        /* MAP SECTION CSS START HERE ------------------------------- */

            .div_iframe iframe {
            display:      inline;
            border-style: solid;
            border-width: 1px;
            border-color: red;
            }

            .div_iframe a {
            display:      none;
            }

        /* MAP SECTION CSS END HERE --------------------------------- */

        /* FORM RELATED CSS START HERE ------------------------------ */

            form {
                padding:             0;
                margin:              0% 30% 0% 30%;
            }

            form * {
                margin:              5px 0 5px 0;
            }

            label {
                margin-right:        10px;
            }

            form button {
                margin:              3% 0% 3% 70%;
                position:            relative;
                transition-duration: 2s;
            }

            form button:hover {
                background-color:  white;
            }



        /* FORM RELATED CSS END HERE -------------------------------- */

    }

/* MEDIA QUERIES END HERE ---------------------------------------------------------------------- */

/* END David */

/* START Kévin */

/* Home section code  */
.mobile_menu{
    display: none;
}

.section_home {
    height: 100vh;
    background-image: url(https://www.au-cheval-noir.restaurant/wp-content/uploads/2018/12/Restaurant-Au-Cheval-Noir-Herrlisheim_Photos-17.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    vertical-align: 50%;
    padding-top: 2%;
}

.toggle-nav{
    background-color:rgba(0,0,0,0);
    display: none;
  }


.menu{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0);
    font-family: 'Butterfly Kids', cursive;
    height: 5vw;
    position: fixed;
    width: 100%;
}

.liste{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    margin-top: 1vw;
}

.menu .active{
    display: flex;
    justify-content: flex-end;
    width: 70%;
    height: 2%;
}

a:link{
    text-decoration: none;
}

.liste li{
    list-style-type: none;
    width: 21%;
    text-align: center;
    font-size: 2.1vw;
    opacity: 1;
    transition:all 0.2s ease;
}

h1 a, .liste a{
    color: white;
    width: 100px;
    text-shadow: -1px -1px 0 #000, 
                  1px -1px 0 #000, 
                     -1px 1px 0 #000, 
                     1px 1px 0 #000;
}

.liste a{
    font-family: 'Patrick Hand', cursive;
    font-size: 2vw;
}


.liste li:hover{
    transform:scale(1.10) translate(0px, 5px);
}

h1{
    width: 20%;
    font-size: 4vw;
    padding-left: 1%;
    margin-top: 0;
    justify-content: flex-start;
}

.section_home h2, .subtitle{
    margin: 1%;
    height: 10%;
    text-align: left;
    font-family: 'Butterfly Kids', cursive;
    font-weight: bolder;
}
.section_home p{
    font-size: 2.5em;
    margin-top: 40px;
    vertical-align: 50%;
}

.section_home h2{
    font-size: 5em;
}

@media screen and (max-width: 961px){
    .mobile_menu{
        display: none;
        background: rgba(0,0,0,0);
        width:100%;
		position:absolute;
		top:120%;
        left:0px;
        padding: 0;
        margin: 0;
    }

    .mobile_menu ul{
        background: rgba(0,0,0,0);
        position:absolute;
        margin: 0;
    }

    .mobile_menu a{
        font-family: 'Patrick Hand', cursive;
        text-align: right;
        color: white;
        font-weight: bold;
        width: 100%;
        font-size: 1.2em;
        text-shadow: -1px -1px 0 #000, 
                  1px -1px 0 #000, 
                     -1px 1px 0 #000, 
                     1px 1px 0 #000;
    }
    
    .mobile_list{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: 0;
        margin-top: -20px;
    }

    .mobile_menu li{
        list-style-type: none;
        text-align: center;
        width: 45%;
        padding-right: 2%;
    }

    h1{
        font-size: 1.7em;
        width: 55%;
        padding-left: 2%;
    }
    .menu{
        justify-content: space-between;
        height: 55px;
    }

    .section_home h2{
        font-size: 2.5em;
        height: 50px;
        padding: 1%;
    }

    .section_home p{
        font-size: 1.5em;
        width: 30%;
    }

    .section_home{
        background-size: cover;
        height: 30vh;
    }

	.menu ul.active {
		display:none;
    }
    
    .titre{
        width: 100%;
        font-size: 1.4em;
        margin-top: 5px;
    }

	.active {
		width:100%;
		position:absolute;
		top:120%;
		left:0px;
		padding:10px 18px;
		box-shadow:0px 1px 1px rgba(0,0,0,0.15);
		border-radius:3px;
		background:#303030;
    }
    .menu li {
		margin:5px 0px 5px 0px;
		float:none;
		display:block;
	}

	.menu a {
        display:block;
        margin-top: 0;
	}

	.toggle-nav {
        padding:10px 20px 0 0;
        width: 5%;
        height: 5%;
		display:inline-block;
		box-shadow:0px 1px 1px rgba(0,0,0,0.15);
		border-radius:3px;
		background:rgba(0,0,0,0);
		text-shadow:0px 1px 0px rgba(0,0,0,0.5);
		color:white;
		font-size:20px;
        transition:color linear 0.15s;
        font-size: 2em;
	}

	.toggle-nav:hover, .toggle-nav.active {
		text-decoration:none;
		color:#66a992;
	}


}


/* END Kévin */

/* START Estevao */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(46, 18, 18);
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 17px;
}
.footer a, footer p {
    color: rgb(177, 177, 177);
}
.desktop-footer {
    display: none;
}
.mobile-footer {
    padding: 5px;
}
.footer a {
    width: 200px;
}
.footer-address {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    height: 200px;
}
.twitter-icon img {
    height: 40px;
    width: 40px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.facebook-icon img {
    height: 40px;
    width: 40px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.app-link {
    width: 100%;
    text-align: center;
}

@media screen and (min-width:961px) {
.footer {
    font-size: 17px;
    height: 200px;
    flex-wrap: wrap;
    padding: 0px 10px 20px 10px;
}
.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
    margin-top: 20px;
}
.emphasis-text {
    font-style: italic;
}
.desktop-footer {
    display: contents;
}
.mobile-footer {
    padding: 0px;
}
.desktop-version {
    display: none;
}
.twitter-icon img {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.twitter-icon:hover img {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}
.facebook-icon img {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.facebook-icon:hover img {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}
.app-link {
    display: none;
}
}

/* END Estevao */

/* /!\ COMMENCER PAR LA VERSION MOBILE */